<!DOCTYPE html>
<html lang="ru">
<head>
	<title></title>
	<meta charset="utf-8"/>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		ul.answers {
			list-style-type: none;
		}
	</style>
</head>
<body>
	<div id="app">
		<div v-if="!done">
			<h1>{{testData.theme}}</h1>
			<table>
				<tr>
					<td>Фамилия:</td>
					<td><input type="text" v-model="lastName"/></td>
				</tr>
				<tr>
					<td>Имя:</td>
					<td><input type="text" v-model="firstName"/></td>
				</tr>
			</table>
			<question-component
				v-for="(question, name) in testData.questions"
				:key="name"
				:question="question"
			>
				<answer-single-component v-if="question.answerType == 'SINGLE'"
					:question-id="name"
					:variant-id="question.id"
					:answers="question.answers"
					@answer-changed="onAnswerChanged"
				>
				</answer-single-component>
				<answer-multi-component v-else-if="question.answerType == 'MULTI'"
					:question-id="name"
					:variant-id="question.id"
					:answers="question.answers"
					@answer-check-changed="onAnswerCheckChanged"
				>
				</answer-multi-component>
			</question-component>
	        <input type="submit" value="Отправить ответы" @click="onSubmit"/>
		</div>
		<done-component v-else>
		</done-component>
	</div>
	<script>
		let sData = '{"theme":"Тема теста","questions":{"1":{"id":"3","title":"Задание №1.3","text":"Выберите правильный ответ","answerType":"MULTI","answers":[{"id":"1","text":"Ответ 1"},{"id":"2","text":"Ответ 2"},{"id":"3","text":"Ответ 3"},{"id":"4","text":"Ответ 4"}]},"2":{"id":"3","title":"Задание №2.3","text":"Выберите правильный ответ","answerType":"SINGLE","answers":[{"id":"1","text":"Ответ 1"},{"id":"2","text":"Ответ 2"},{"id":"3","text":"Ответ 3"},{"id":"4","text":"Ответ 4"}]},"3":{"id":"1","title":"Задание №3.1","text":"Выберите правильный ответ","answerType":"SINGLE","answers":[{"id":"1","text":"Ответ 1"},{"id":"2","text":"Ответ 2"},{"id":"3","text":"Ответ 3"},{"id":"4","text":"Ответ 4"}]}}}';
		Vue.component("answer-single-component", {
			props: {
				questionId: String,
				variantId: String,
				answers: Array
			},
			template: `
				<ul class="answers">
					<li v-for="answer in answers">
						<input type="radio" :name="questionId + ':' + variantId" :value="answer.id" @change="onChange($event)"/>
						<label>{{answer.text}}</label>
					</li>
				</ul>`,
			methods: {
				onChange: function(event) {
					this.$emit('answer-changed', this.questionId, event.target.value);
				}
			}
		});
		Vue.component("answer-multi-component", {
			props: {
				questionId: String,
				variantId: String,
				answers: Array
			},
			template: `
				<ul class="answers">
					<li v-for="answer in answers">
						<input type="checkbox" :name="questionId + ':' + variantId" :value="answer.id" @change="onChange($event)"/>
						<label>{{answer.text}}</label>
					</li>
				</ul>`,
			methods: {
				onChange: function(event) {
					this.$emit('answer-check-changed', this.questionId, event.target.value, event.target.checked);
				}
			}
		});
		Vue.component("question-component", {
			props: {
				question: Object
			},
			template: "<section><h2>{{question.title}}</h2><p>{{question.text}}</p><slot></slot></section>"
		});
		Vue.component("done-component", {
			template: "<div><h2>Ответы получены.</h2></div>"
		});
		let vm = new Vue({
			el: "#app",
			data: {
				lastName: "",
				firstName: "",
				testData: {},
				answers: {},
				done: false
			},
			methods: {
				onAnswerChanged: function(questionId, value) {
					this.answers[questionId].answerIds = [value];
				},
				onAnswerCheckChanged: function(questionId, value, isChecked) {
					let arr = this.answers[questionId].answerIds;
					if (isChecked)
					{
						arr.push(value);
					}
					else
					{
						arr.splice(arr.indexOf(value), 1);
					}
				},
				onSubmit: function() {
					if (!/^[А-ЯЁё]{1}[а-яё-]+$/.test(this.lastName) || !/^[А-ЯЁё]{1}[а-яё-\s]+$/.test(this.firstName))
					{
						alert("Имя или фамилия введены некорректно.");
						return;
					}
					let allAnswers = true;
					for (key in this.answers)
						allAnswers &= (this.answers[key].answerIds.length != 0);
					if (!allAnswers) {
						alert("Не на все вопросы указаны ответы.");
						return;
					}
					let res = {
						firstName: this.firstName,
						lastName: this.lastName,
						answers: this.answers
					}
					console.log(JSON.stringify(res));
					axios.post("api/answers", res)
					.then(response => {
							console.log(response)
							this.done = true;
						}
					)
					.catch(error => (
							console.log(error)
						)
					);
				},
				init: function() {
					document.title = this.testData.theme;
					for (key in this.testData.questions) {
						this.answers[key] = { variantId: this.testData.questions[key].id, answerIds: [] };
					}
				}
			},
			created: function() {
				this.testData = JSON.parse(sData);
				this.init();
				/*axios.get("api/test")
					.then(response => {
							this.testData = response.data;
							this.init();
						}
					)
					.catch(error => (
							console.log(error)
						)
					);*/
			}
		});
	</script>
</body>
</html>